<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('What are Groups?') }}
    </h2>
    <div class="module-content">
      <p>
        {% trans %}
          <p>Alle Einträge im Katalog können verschiedenen Gruppen zugeordnet werden, um die Einordnung und Recherche der Informationen für Smarte Städte und Regionen einfach zu gestalten. Jeder Datensatz ist dabei in genau einer Hauptkategorie-Gruppe, und keiner, einer oder mehreren Modellregionen-Gruppen bzw. Themen-Gruppen eingetragen. Die Aufteilung der einzelnen Gruppen ist wie folgt:</p>
  </p>
  <b>Hauptkategorien</b><ul>
  <li>Datensatz und Dokumente</li>
  <li>Online-Dienst (z.B. WMS-Server)</li>
  <li>Projekt</li>
  <li>Software (z.B. Tool für Datenbankmanagement)</li>
  <li>Online-Anwendung (z.B. KartenDienst)</li>
  <li>Methode</li>
  <li>Gerät / Ding</li></ul>
  <li>Geoobjekt</li>
  <li>Digitaler Zwilling</li>
  
  <b>Themen</b><ul>
  <li>Stadtplanung</li>
  <li>Umwelt</li>
  <li>Mobilität</li>
  <li>Tourismus und Freizeit</li>
  <li>Gesundheit</li>
  <li>Verwaltung</li>
  <li>Energie</li>
  <li>IT-Technologie</li>
  <li>Wohnen</li>
  <li>Bildung</li>
  <li>Bauen</li>
  <li>Arbeiten</li>
  <li>Handel</li>
  <li>Kultur</li>
  <li>Landwirtscaft</li>
  <li>Gewerbe / Handwerk</li></ul>
  {#
  <b>Modellregionen</b><ul>
  <li>Stadt Garching</li>
  <li>LK-Neustadt a.d. Waldnaab</li>
  <li>LK-Wunsiedel</li>
  <li>Stadt Haßfurt</li>
  <li>LK-Freyung-Grafenau</li>
  <li>Stadt Grafing</li></ul>
  #}
        {% endtrans %}
      </p>
    </div>
  </div>
  