name: Build/push edge image

on:
  push:
    branches: [main]
    paths:
      - sddi-base/**
      - sddi/**
      - sddi-social/**

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-images:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        context: ['sddi-base', 'sddi', 'sddi-social']
      fail-fast: true
      max-parallel: 1
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to the Github Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for docker image
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ${{ env.REGISTRY }}/tum-gis/ckan-${{ matrix.context }}
          tags: |
            type=edge,branch=main
          labels: |
            maintainer=Chair of Geoinformatics, Technical University of Munich (TUM)
            org.opencontainers.image.vendor=Chair of Geoinformatics, Technical University of Munich (TUM)
            org.opencontainers.image.title=ckan-sddi-docker

      - name: Build and publish ${{ env.REGISTRY }}/tum-gis/ckan-${{ matrix.context }}
        uses: docker/build-push-action@v4
        with:
          context: ${{ matrix.context }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            BASEIMAGE_VERSION=edge

      - name: Extract metadata (tags, labels) for debug docker image
        id: meta-debug
        uses: docker/metadata-action@v4
        with:
          images: |
            ${{ env.REGISTRY }}/tum-gis/ckan-${{ matrix.context }}
          tags: |
            type=edge,branch=main,suffix=-debug
          labels: |
            maintainer=Chair of Geoinformatics, Technical University of Munich (TUM)
            org.opencontainers.image.vendor=Chair of Geoinformatics, Technical University of Munich (TUM)
            org.opencontainers.image.title=ckan-sddi-docker

      - name: Build and publish ${{ env.REGISTRY }}/tum-gis/ckan-${{ matrix.context }}
        uses: docker/build-push-action@v4
        with:
          context: ${{ matrix.context }}
          file: ${{ matrix.context }}/Dockerfile.debug
          push: true
          tags: ${{ steps.meta-debug.outputs.tags }}
          labels: ${{ steps.meta-debug.outputs.labels }}
          build-args: |
            BASEIMAGE_VERSION=edge
